/* CreateTask.css */

.create-task {
    width: 70%;
    background-color: #f5f5f574;
    padding: 5px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .create-task h3 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
   textarea {
    width: 99%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
  }
  
  .title {
    flex: 1;
    padding: 0 20px 0 0;
    margin-right: 10px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 110px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  

  .title-heading{
    text-align: center;
  }